.categoriesSection {
  margin: 45px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.categoriesSection > h3 {
  font-size: 32px;
  font-weight: 700;
  color: 333333;
}
.categoriesSection > p {
  margin-bottom: 70px;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
.categoriesContainer {
  display: flex;
  gap: 20px;
}
.categoriesContainer > div {
  width: calc(100% / 3);
}
.categoriesContainer > div > a > img {
  width: 100%;
  border-radius: 5px;
}
.categoriesContainer > div > span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
}
