.ShopProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.ShopProductsFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 120px);
  background-color: #f9f1e7;
  padding: 20px 60px;
  margin-bottom: 60px;
}
.ShopProductsCategoriesAndCount {
  display: flex;
  align-items: center;
}
.ShopProductsCategoriesAndCount > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.ShopProductsCategoriesAndCount > button > svg {
  margin-right: 10px;
}
.ShopProductsCategoriesAndCount > span {
  width: 2px;
  height: 30px;
  background-color: #9f9f9f;
  margin: 0 20px;
}
.ShopProductsCategoriesAndCount > p {
  font-size: 16px;
  font-weight: 400;
}
.ShopProductsLimit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ShopProductsLimit > p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}
.ShopProductsLimit > input {
  display: flex;
  text-align: center;
  font-size: 20px;
  border: 0;
  background-color: #ffffff;
  outline: 0;
  color: #9f9f9f;
  aspect-ratio: 1/1;
  width: 30px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.ShopProductsLimit > input[type="number"]::-webkit-inner-spin-button,
.ShopProductsLimit > input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ShopProductsLimit > input[type="number"] {
  -moz-appearance: textfield;
}
