.InspirationSection {
  background-color: #fcf8f3;
  display: flex;
  align-items: center;
  padding: 50px 0;
  margin: 60px 0;
}
.InspirationSectionContainer {
  margin-left: 120px;
}
.InspirationSectionContainer > h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  color: #3a3a3a;
}
.InspirationSectionContainer > p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  color: #616161;
}
.InspirationSectionContainer > button {
  margin-top: 20px;
  background-color: #b88e2f;
  color: #ffffff;
  padding: 15px 30px;
  border: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  cursor: pointer;
}
.InspirationSectionContainer > button:hover {
  background-color: #e0b651;
  color: #a8a0a0;
}
.InspirationSectionCarruselContainer {
  overflow: hidden;
  flex: 1;
  margin-left: 60px;
  position: relative;
}
.carrucelPositionPoint {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 10px;
}
.carrucelPositionPoint > div {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #fcf8f3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.carrucelPositionPoint > div > span {
  display: flex;
  background-color: #d8d8d8;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.positionPointActive {
  border: 1px solid #b88e2f !important;
}
.positionPointActive > span {
  background-color: #b88e2f !important;
}
.InspirationSectionCarrusel {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  width: 200%;
  transform: translateX(0%);
}
.carruselItem {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: calc(25% - 15px);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: start;
}
.carrucelItemActive {
  height: 550px;
}
.carruselItem > div {
  position: absolute;
  display: flex;
  align-items: flex-end;
  margin: 20px;
}
.carruselItem > div > div {
  background-color: #ffffff;
  padding: 20px 20px;
  opacity: 0.7;
}
.carruselItem > div > div > span {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
}
.carruselItem > div > div > h3 {
  font-size: 28px;
  font-weight: 600;
  color: #272727;
}
.carruselItem > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #b88e2f;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  font-size: 20px;
}
