.ProductCard {
  width: calc(100% / 4 - 96px / 4);
  background-color: #f4f5f7;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.ProductCard:hover .productCardHover {
  opacity: 1;
}

.ProductCard > img {
  width: 100%;
}
.ProductCard > h3 {
  font-size: 24px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 0 20px;
}
.ProductCard > span {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  margin: 0 20px;
}
.ProductCard > P {
  font-size: 20px;
  font-weight: 600;
  color: #3a3a3a;
  margin: 0 20px;
  margin-bottom: 20px;
}
.productCardHover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.productCardHover > button {
  opacity: 1;
  z-index: 20;
  position: relative;
  display: flex;
  background-color: #ffffff;
  color: #b88e2f;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.productCardHover > button:hover {
  background-color: #d4d4d4;
}
.productCardhoverBackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #3a3a3a;
  opacity: 0.7;
}
