.HomeProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HomeProductsContainer > h1 {
  font-size: 40px;
  font-weight: 800;
  color: #3a3a3a;
  margin-bottom: 40px;
}
.HomeProductsContainer > button {
  background-color: #ffffff;
  margin-top: 20px;
  color: #b88e2f;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 70px;
  border: 1px solid #b88e2f;
  cursor: pointer;
  transition: 0.3s;
}
.HomeProductsContainer > button:hover {
  background-color: #dbdbdb;
}
