header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}
.HeaderTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeaderTitle > h1 {
  font-size: 34px;
  margin-left: 10px;
}
header > nav {
  display: flex;
  align-items: center;
  gap: 50px;
}
header > nav > a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}
header > nav > a:hover {
  color: #525252;
}
.HeaderNavigationIcons {
  display: flex;
  align-items: center;
  gap: 40px;
}
.HeaderNavigationIcons > a {
  color: black;
  text-decoration: none;
}
.HeaderNavigationIcons > a :hover {
  color: #525252;
}
.HeaderNavigationIcons > a > svg {
  font-size: 30px;
  transition: 0.3s;
}
